* {
    margin: 0;
    padding: 0;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.header{
    background: green;
    font-family: courier, serif;
    text-align: center;
    padding: 10px;
}
.footer{
    background: green;
    text-align: center;
    padding: 10px;
}
.content{
    background: blue;
    width:26%;
    max-width:1000px;
    min-width:400px;
    padding-left: 20px;
    padding-right: 20px;

    margin-left:auto;
    margin-right:auto;
}
.content h1{
    font-size:2em;
    padding-top:20px;
    padding-bottom:20px;

}
.content h2{
    word-spacing: 10px;
}
p.frame{
    border: 5px solid;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    display:inline-block;
    width:100px;
    height:100px;
}
p.par1{
    display:block;
    min-height:20%;
    max-height:10%;
}
aside.fleft{
    float:left;
    padding-right: 20px;
    padding-bottom: 10px;
}
aside.fright{
    float:right;
    padding-left: 20px;
    padding-bottom: 10px;
}
span.padd{
    padding-top:10px;
    padding-bottom:10px;
    display:block;
    text-align:center;
}
span.red{
    color: red;
}
a:link{
    color: red;
    text-decoration: underline;
}
a:hover{
    color:yellow;
    text-decoration:underline;
}
ul > li{
    line-height: 30px;
}
ul.styled{
    margin-left:35px;
}
ul.simple{
    list-style: none;
}
.styled li:nth-child(2){
    letter-spacing:5px;
    color:cyan;
}
.simple li:nth-child(4){
    visibility:hidden;
    padding:0;
    display:block;
    height:10px;
}
.styled li:last-child{
    padding-bottom: 12px;
}
.simple li:last-child{
    padding-bottom: 6px;
}
ul>li:first-child{
    padding-top:3px;
}
table{
    border: solid 1px silver;
}
td{
    width:40px;
    height:30px;
    border:solid 1px silver;
    text-align:center;
    vertical-align: bottom;
}
tr:first-child>td:first-child{
    background:green;
}
tr:last-child>td:last-child{
    background:red;
}
.imgLike{
    position: relative;
    top: 15px;
    left: 110px;
}
/*position для картинки либо для h1*/
/*visibility для пропущенного в последнем списке предпоследнего вида текста*/
