@{
    ViewData["Title"] = "Hello Mockups";
}

<div>
    <h1 class="display-6">Mockups</h1>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Quiz" asp-route-step="Quiz">Quiz</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Quiz" asp-route-step="Results">Quiz results</a></li>
    </ul>
</div>
