* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.content1{
    width:600px;
    margin:auto;
    margin-top: 10px;
    margin-bottom:10px;
    background-color:blue;
    color:white;
}
@media screen and (width <= 610px){
    .content1{
        margin-left: 10px;
        margin-right: 10px;
        border-width: 0px;
        border-right:10px;
        border-color:white;
        border-style:solid;
    }
}