*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align:left;
}
.content1{
    max-width:500px;
    margin:auto;
    border-width:40px;
    border-color:white;
    border-style:solid;

    border-bottom-width: 20px;
    border-top-width: 20px;
    background-color:green;
    color:white;
}
.content2{
    max-width:500px;
    margin:auto;
    border-width:20px;
    border-color:blue;
    border-style:solid;

    padding:20px;
    background-color:blue;
    color:white;
}