@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-6">Form Parameters Parsing Demonstration</h1>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="ManualSingle">Manual parsing in single action</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="ManualSeparate">Manual parsing in separate actions</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="ModelParameters">Model binding (parameters)</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="ModelSeparate">Model binding (separate model)</a></li>
    </ul>
</div>
