*{
    margin:0;
    padding:0;
    text-align:left;
}
.content1{
    box-sizing:content-box;
    max-width:500px;
    margin:auto;

    border-width:20px;
    border-color:white;
    border-style:solid;
}
.content2{
    box-sizing:border-box;
    max-width:500px;
    margin:auto;

    border-width:10px;
    border-color:blue;
    border-style:solid;

    padding: 50px;
}